In [1]:
#This program gives examples about various list operations

In [2]:
myList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
#index    0  1  2  3  4  5  6  7  8
#        -9 -8 -7 -6 -5 -4 -3 -2 -1

In [3]:
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
print("Original list:", myList)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print("first element : ", myList[0])

first element :  1

In [6]:
print("last element : ", myList[-1] )

last element :  9

In [7]:
print("2nd to 6th elements : ", myList[1:6])

2nd to 6th elements :  [2, 3, 4, 5, 6]

In [8]:
print("Element at -7th index : ", myList[-7])

Element at -7th index :  3

In [9]:
#To append an element to a list
myList.append(10)
print('Append:',myList)

Append: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#To find the index of a particular element
print('Index of element 6= ',myList.index(6)) #returns index of element '6'

Index of element 6=  5

In [11]:
#To sort the list
myList.sort()
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#To pop last element
print('Poped Element:',myList.pop())

Poped Element: 10

In [13]:
print(myList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
#To remove a particular element from the lsit BY NAME
myList.remove(6)
print('After removing 6:',myList)

After removing 6: [1, 2, 3, 4, 5, 7, 8, 9]

In [15]:
#To insert an element at a specified Index
myList.insert(5, 6)
print('Inserting 6 at 5th index:',myList)

Inserting 6 at 5th index: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:

#To count number of occurences of a element in the list
print('No of Occurences of 1:',myList.count(1))

No of Occurences of 1: 1

In [17]:
#To extend a list that is insert multiple elemets at once at the end of the list
myList.extend([11,0])
print('Extending list:',myList)

Extending list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 0]

In [18]:
#To reverse a list
myList.reverse()
print('Reversed list:',myList)

Reversed list: [0, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### List string

In [19]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [20]:
alist = ["apple", "banana", "cherry"]
print(alist)

['apple', 'banana', 'cherry']

In [21]:
alist = ["apple", "banana", "cherry", "apple", "cherry"]
print(alist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [22]:
print(len(alist))

5

In [23]:
#String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [24]:
#What is the data type of these list?
print(type(list1))
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [25]:
#Access
list1 = ["apple", "banana", "cherry"]
print(list1[0])
print(list1[1])

apple
banana

In [26]:
print(list1[-1])

cherry

In [27]:
#Return the third, fourth, and fifth item
list4 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list4[2:5])

['cherry', 'orange', 'kiwi']

In [28]:
#returns the items from the beginning to, but NOT including, "kiwi"
print(list4[:4])

['apple', 'banana', 'cherry', 'orange']

In [29]:
# returns the items from "cherry" to the end
print(list4[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [30]:
#Check if "apple" is present in the list
list5 = ["apple", "banana", "cherry"]
if "apple" in list5:
    print("Yes, 'apple' is in the fruits list")
else :
    print("No")

Yes, 'apple' is in the fruits list

In [31]:
#Change list items
list5 = ["apple", "banana", "cherry"]
list5[1] = "blackcurrant"
print(list5)

['apple', 'blackcurrant', 'cherry']

In [32]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

list6 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list6[1:3] = ["blackcurrant", "watermelon"]
print(list6)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [33]:
#Change the second value by replacing it with two new values:

list7 = ["apple", "banana", "cherry"]
list7[1:2] = ["blackcurrant", "watermelon"]
print(list7)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [34]:
#Change the second and third value by replacing it with one value:

list8 = ["apple", "banana", "cherry"]
list8[1:3] = ["watermelon"]
print(list8)

['apple', 'watermelon']

In [35]:
#Insert "watermelon" as the third item:

list9 = ["apple", "banana", "cherry"]
list9.insert(2, "watermelon")
print(list9)

['apple', 'banana', 'watermelon', 'cherry']

In [36]:
#Using the append() method to append an item:

list10 = ["apple", "banana", "cherry"]
list10.append("orange")
print(list10)

['apple', 'banana', 'cherry', 'orange']

In [37]:
#Insert an item as the second position:

list11 = ["apple", "banana", "cherry"]
list11.insert(1, "orange")
print(list11)

['apple', 'orange', 'banana', 'cherry']

In [38]:
#Add the elements of tropical to list12:

list12 = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
list12.extend(tropical)
print(list12)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [39]:
#Add elements of a tuple to a list:

list13 = ["apple", "banana", "cherry"]
tuple13 = ("kiwi", "orange")
list13.extend(tuple13)
print(list13)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [40]:
#Remove "banana":

list14 = ["apple", "banana", "cherry"]
list14.remove("banana")
print(list14)

['apple', 'cherry']

In [41]:
#Remove the second item:

list15 = ["apple", "banana", "cherry"]
list15.pop(1)
print(list15)

['apple', 'cherry']

In [42]:
#Remove the first item:

list16 = ["apple", "banana", "cherry"]
del list16[0]
print(list16)

['banana', 'cherry']

In [43]:
#Delete the entire list:

list17 = ["apple", "banana", "cherry"]
del list17

In [44]:
#Clear the list content:

list18 = ["apple", "banana", "cherry"]
list18.clear()
print(list18)

[]

In [45]:
#Print all items in the list, one by one:

list19 = ["apple", "banana", "cherry"]
for x in list19:
    print(x)

apple
banana
cherry

In [46]:
#Print all items by referring to their index number:

list20 = ["apple", "banana", "cherry"]
for i in range(len(list20)):
    print(list20[i])

apple
banana
cherry

In [47]:
#Print all items, using a while loop to go through all the index numbers

list21 = ["apple", "banana", "cherry"]
i = 0
while i < len(list21):
    print(list21[i])
    i = i + 1

apple
banana
cherry

In [48]:
#Looping Using List Comprehension
#List Comprehension offers the shortest syntax for looping through lists:

#A short hand for loop that will print all items in a list:

list22 = ["apple", "banana", "cherry"]
[print(x) for x in list22]

apple
banana
cherry

[None, None, None]

##### Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

In [49]:
#Without list comprehension you will have to write a for statement with a conditional test inside:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [50]:
#With list comprehension you can do all that with only one line of code:

fruits = ["apple" , "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [51]:
#Only accept items that are not "apple":

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [52]:
#You can use the range() function to create an iterable:

newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
#Accept only numbers lower than 5:

newlist = [x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [54]:
#Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [55]:
#Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [56]:
#Return "orange" instead of "banana":

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x !="banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [57]:
#Sort the list alphabetically:

list23 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list23.sort()
print(list23)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [58]:
#Sort the list numerically:

list24 = [100, 50, 65, 82, 23]
list24.sort()
print(list24)

[23, 50, 65, 82, 100]

In [59]:
#Sort the list descending:

list25 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list25.sort(reverse = True)
print(list25)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [60]:
#Sort the list descending:

list26 = [100, 50, 65, 82, 23]
list26.sort(reverse = True)
print(list26)

[100, 82, 65, 50, 23]

In [61]:
#Sort the list based on how close the number is to 50:

def myfunc(n):
    return abs(n - 50)

list27 = [100, 50, 65, 82, 23]
list27.sort(key = myfunc)
print(list27)

[50, 65, 23, 82, 100]

In [62]:
#Case sensitive sorting can give an unexpected result:

list28 = ["banana", "Orange", "Kiwi", "cherry"]
list28.sort()
print(list28)

['Kiwi', 'Orange', 'banana', 'cherry']

In [63]:
#Perform a case-insensitive sort of the list:

list29 = ["banana", "Orange", "Kiwi", "cherry"]
list29.sort(key = str.lower)
print(list29)

['banana', 'cherry', 'Kiwi', 'Orange']

In [64]:
#Reverse the order of the list items:

list30 = ["banana", "Orange", "Kiwi", "cherry"]
list30.reverse()
print(list30)

['cherry', 'Kiwi', 'Orange', 'banana']

In [65]:
#Make a copy of a list with the copy() method:

list31 = ["apple", "banana", "cherry"]
list31 = list31.copy()
print(list31)

['apple', 'banana', 'cherry']

In [66]:
#Make a copy of a list with the list() method:

list32 = ["apple", "banana", "cherry"]
list32 = list(list32)
print(list32)

['apple', 'banana', 'cherry']

In [67]:
#Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [68]:
#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [69]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]